* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Bebas Neue Regular;
    src: url(Fontes/BebasNeue-Regular.otf);
    font-family: Amatic SC;
    src: url(Fontes/AmaticSC-Bold.ttf);
}

:root {
    --cor-1:#cbace8;
    --cor-2:#9779ac;
    --cor-3:#422555;
    --cor-4:#3d803c; 
}
.cabecalho {
    position: fixed;
    min-width: 100vw;
}
.header_logo {
    max-width: 100vw;
    background-color: var(--cor-2);
    max-height: 170px;
    padding-top: 10px;
}
.header_logo {
    display: flex;
    justify-content: center;
}
.menu_nav {
    background-color: var(--cor-3);
    padding: 25px;
    padding-top: 0px;
    max-width: 100vw;
}
.menu_nav {
    display: flex;
    justify-content: space-around;
}
.menu_nav > a:hover {
    color: var(--cor-3);
}
.menu_item {
    background-color: var(--cor-4);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    font-family: bebas neue;
    font-size: 2em;
    color: white;
}
.tamanho_item {
    width: 14em;
}
.principal {
    padding-top: 270px;
    max-width: 100vw;
}
.titulo_quem {
    font-family: Amatic SC;
    font-size: 8em;
    color: var(--cor-1);
    margin-left: 100px;
}
.quem_somos {
    background-color: var(--cor-3);
}
.quem_somos > p {
    font-family: Bebas Neue;
    font-size: 2.5em;
    color: white;
    margin: 50px 100px 0px;
    padding-bottom: 250px;
}
.whats {
    max-width: 100px;
    position: fixed;
    left: 94%;
    bottom: 3%;
}
.cardapio {
    background-color: var(--cor-1);
    padding-bottom: 10px;
}
.cardapio > h1 {
    font-family: Amatic SC;
    font-size: 8em;
    color: var(--cor-4);
    display: flex;
    justify-content: center;
}
.tamanhos {
    background-color: var(--cor-3);
    width: 70%;
    margin: auto;
    border-radius: 15px;
    border-top: 20px solid black;
    border-left: 20px solid black;
    border-right: 20px solid black;
}
.tamanhos > h2 {
    display: flex;
    justify-content: center;
    font-family: Bebas Neue;
    font-size: 6.5em;
    color: white;
}
.tamanhos_itens {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 5px;
}
.tam_300ml {
    padding: 50px;
}
.tam_500ml {
    border-left: 8px dashed var(--cor-4);
    padding: 50px;
}
.tam_750ml {
    border-left: 8px dashed var(--cor-4);
    padding: 50px;
}
.tam_1000ml {
    border-left: 8px dashed var(--cor-4);
    padding: 50px;
}
.tam_preco {
    font-family: Bebas Neue;
    color: white;
    text-align: center;
    font-size: 3em;
}
.tam_ext {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
}
.tam_ext > p {
    background-color: var(--cor-4);
    font-family: Bebas Neue;
    font-size: 1.4em;
    display: block;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.outros_itens {
    margin-top: 10px;
    display: flex;
}
.acompanhamento {
    background-color: var(--cor-3);
    font-family: Bebas Neue;
    width: 25vw;
    margin-left: 100px;
    font-size: 2em;
    padding: 25px;
    padding-top: 5px;
    border-radius: 15px;
}
.acompanhamento > h3 {
    color: white;
    text-align: center;
    font-size: 2em;
}
.acompanhamento_lista {
    background-color: var(--cor-2);
    padding-left: 45px;
    padding-top: 5px;
    border-radius: 15px;
    font-size: 1em;
    color: white;
}
.caldas {
    background-color: var(--cor-3);
    margin-top: 5px;
    font-family: Bebas Neue;
    width: 25vw;
    margin-left: 100px;
    font-size: 2em;
    padding: 25px;
    padding-top: 5px;
    border-radius: 15px;
}
.caldas > h3 {
    color: white;
    text-align: center;
    font-size: 2em;
}
.caldas_lista {
    background-color: var(--cor-2);
    padding-left: 45px;
    padding-top: 5px;
    border-radius: 15px;
    font-size: 1em;
    color: white;
}
.extras {
    background-color: var(--cor-3);
    margin-top: 5px;
    font-family: Bebas Neue;
    width: 25vw;
    margin-left: 100px;
    font-size: 2em;
    padding: 25px;
    padding-top: 5px;
    border-radius: 15px;
    padding-bottom: 10px;
}
.extras > h3 {
    color: white;
    text-align: center;
    font-size: 2em;
}
.extras > p {
    color: white;
    text-align: end;
}
.extras_obs {
    background-color: var(--cor-2);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 15px;
    font-size: 1em;
    color: white;
}
.extras_ext {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
    padding-bottom: 2px;
}
.text_1 {
    margin-right: 15px;
    border-right: 5px dashed var(--cor-4);
}
.extras_obs > p {
    padding-top: 2px;
    text-align: center;
    font-size: 2em;
}

.contato {
    background-color: var(--cor-3);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
}
.pecaja {
    width: 65em;
}
.pote {
    width: 50em;
}